#markdown-slide Markdown {
    margin: 0 20;
    text-align: left;
}

#markdown-slide ImageWidget {
    width: 60;
    height: auto;
    max-height: 20;
}

ImageFullscreen {
    layout: vertical;
    overflow: hidden;
    align: center middle;
}

ImageFullscreen ImageWidget {
    width: auto;
    height: auto;
}

#notes-container {
    padding: 1 2;
}

#info-bar {
    height: auto;
    text-align: center;
    color: $text-muted;
    margin-bottom: 1;
}

#next-slide-bar {
    height: auto;
    text-align: center;
    color: $text-muted;
    margin-top: 1;
}
